.container{
	width  : 200px;
 	height : 200px;
}


#timer {
	font-size: 24px;
	color: #fff;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px

}


p{
	font-size: 24px;
	color: #fff;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px
}


#ss{
	width: 100%;
    padding: 100% 0 0 0 !important;
    background: #00FF00;

}



#counter {
	font-size: 24px;
	color: #fff;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px
}

