 <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home') }}">Lucky Click</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Home</a>
        </li>
        <li class="nav-item">   
          <a class="nav-link" href="{{ path('app_partie_index') }}">Play</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{{ path('app_register') }}">Register</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login') }}">Authentification</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout') }}">Log out</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu">   
            <li><a class="dropdown-item" href="{{ path('app_admin_user_index') }}">Users</a></li>  
            <li><a class="dropdown-item" href="{{ path('app_partie_index') }}">Game</a></li>
           
          </ul>
        </li>
       
      </ul>
     
    </div>
  </div>
</nav>